form.simple-form {
    background: linear-gradient(45deg, rgba(150, 209, 255, 0.55), transparent);
    border-radius: 5px;
    padding: 10px;
}

/* Selecciona ÚNICAMENTE a los hijos directos del form */
form.simple-form>div {
    display: flex;
    justify-content: space-between;

    width: 350px;
    margin-bottom: 5px;
}

form.simple-form h2,
h1 {
    font-family: "Chill-out gang";
    margin-top: 0;
}

/* Selecciona al div que es el último hijo del form */
form.simple-form div:last-child {
    justify-content: flex-start;
}

form.simple-form input,
form div button {
    border: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    margin-right: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

form.contact {
    background-color: rgb(240, 240, 161);
}

form.contact div {
    width: 50%;
}

form.contact input[type='text'],
form.contact textarea {
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
}

form.contact input[type="submit"] {
    background: transparent;
    padding: 10px 40px;
    margin: 20px 0;
}

form.contact input[type="submit"]:hover {
    background: black;
    color: white;

    /* El cursor cambia una mano, indicando así al usuario que puede clicar sobre él */
    cursor: pointer;
}

form.contact div.contact-left {
    padding: 10px 20px;
}